aiohttp==3.11.11
asyncpg==0.30.0
celery==5.4.0
email-validator==2.2.0
fastapi==0.115.6
orjson==3.10.13
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
psycopg2-binary==2.9.10
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
redis==5.2.1
SQLAlchemy==2.0.36
structlog==24.4.0
uvicorn[standard]==0.34.0
